html {
    font-size: 16px;
}

body {
    font-family: Inter, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    html {
        font-size: 0.75rem;
    }
    
    .flex-row {
        display: flex;
        flex-direction: column;
    }
    
    nav {
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .logo, nav li, nav ul {
        text-align: center;
    }

    .info {
        text-align: center;
    }
}

.white-font {
    color: #F9FAF8;
}

.gray-font {
    color: #E5E7EB;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.flex-end {
    align-items:flex-end;
}

.flex-container {
    padding: 10%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header {
    background-image: url(./images/header.jpg);
    background-size:cover;
    padding: 5% 10%;
}

.logo a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #F9FAF8;
    text-decoration: none;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    justify-content: space-between;
}

nav ul {
    gap: 2rem;
}

.links li {
    list-style-type: none;
}

.links a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    position: relative;
}

main h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 60px;
}

main p {
    font-size: 1.3rem;
}

main img {
    align-items: center;  
}

.button {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 600;
    transition: font-weight 0.1s ease;
    outline: 0.1rem solid #f9faf86b;
    transition: outline-width 0.1s ease;
    align-self: center;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    padding: 0.625rem 1.75rem;
    cursor: pointer;
    align-self: flex-start;
    white-space: nowrap;
}

.info-section {
    background-color:black;
}

.info-section .title {
    color: #E5E7EB;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
    font-size: 2.25rem;
    font-weight: 800;
}


.info-container {
    gap: 2.3rem;
    margin: auto;
    flex-grow: 1;
}

.info .text {
    color: #E5E7EB;
    font-size: 1rem;
    padding: 0.3rem 0.3rem;
    max-width: 20rem;
    margin: auto;
    
}

.info .img-container {
    margin: auto;
    max-width: 20rem;
    max-height: 20rem;
    
}

.info img {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}
.quote-section {
    background-color: #F9FAF8;
    align-items: center;
}

.quote i {
    font-size: 2rem;
    font-weight: 200;
    color: #1F2937;
}

.quote-author {
    font-weight: 700;
    font-size: 1.2rem;
}

.cta-section {
    background-color: black;
}

.cta-box {
    display: flex;
    border-radius: 0.6rem;
    border: 0.1rem solid white;
    margin: auto;
    padding: 2.5rem 4rem;
    box-sizing: border-box;
    gap: 3.1rem;
    align-items: center;
    
}

.cta-box .button {
    background-color: white;
    color: black;
    outline: 0.1rem solid white;
    align-self: center;
    font-size: 1.2rem;
    padding: 1rem 3rem;   
}

.cta-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.cta-info {
    font-size: 1.2rem;
}

footer {
    background-color: #1548b5;
    padding: 1rem;
}

.copyright {
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.flex-col .button:hover {
    transition: background-color 0.3s, outline 0.3s;
    outline: 0.1rem solid #F9FAF8;
    background-color: #f9faf80e;
}

.links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    width: 0; 
    height: 1px; 
    background-color: #E5E7EB; 
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; 
    transform: translateX(-50%); 
}

.links a:hover::after {
    width: 90%;
    right: 0; 
}