html {
    font-size: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 800px) {
    html {
        font-size: 0.75rem;
    }
    
    .flex-row {
        display: flex;
        flex-direction: column;
    }
    
    nav {
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .logo, nav li, nav ul {
        text-align: center;
    }

    .info {
        text-align: center;
    }
}

.white-font {
    color: #F9FAF8;
}

.gray-font {
    color: #E5E7EB;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.flex-end {
    align-items:flex-end;
}

.flex-container {
    padding: 10%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header {
    background-color: #1F2937;
    padding: 5% 10%;
}

.logo a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #F9FAF8;
    text-decoration: none;
}

.logo {
    margin-bottom: 3rem;  
}

nav {
    justify-content: space-between;
}

nav ul {
    gap: 2rem;
}

.links li {
    list-style-type: none;
}

.links a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
}

main h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 60px;
}

main p {
    font-size: 1.3rem;
}

main img {
    align-items: center;  
}

.button {
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #3882F6;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.625rem 1.75rem;
    cursor: pointer;
    align-self: flex-start;
    white-space: nowrap;

}

.info-section .title {
    text-align: center;
    margin: auto;
    font-size: 2.25rem;
    font-weight: 800;
}

.info-container {
    padding: 0.6rem;
    justify-content: center;
    margin: auto;
}

.info .text {
    font-size: 1.3rem;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
}

.quote i {
    font-size: 2rem;
    font-weight: 200;
    color: #1F2937;
}

.quote-author {
    font-weight: 700;
    font-size: 1.2rem;
}

.cta-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 0.6rem;
    margin: auto;
    padding: 2.5rem 5rem;
    box-sizing: border-box;
    gap: 3.1rem;
    align-items: center;
    
}

.cta-box .button {
    border: 0.1rem solid #F9FAF8;
    background-color: #3882F6;
    align-self: center;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    
}

.cta-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.cta-info {
    font-size: 1.2rem;
}

footer {
    background-color: #1F2937;
    padding: 1rem;
}

.copyright {
    text-align: center;
    font-weight: 600;
}

.container .button:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color:#1055c5;
    color: #bfc3c9
}

.links a:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: rgba(255, 255, 255, 0.797);
    color: #1F2937;
    border-radius: 2rem;

}

.cta-box .button:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: #F9FAF8;
    color:#1055c5;
}

